<!-- register-patient.component.html -->

<div class="registration-container">
  <h2>Register my account</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div class="question-container">
      <h1>Privacy Policy</h1>
      <p>SARM’s privacy policy is committed to ensuring the confidentiality of its customers' data in accordance with applicable data protection legislation. Below you can find the description of what personal data is collected, how it is processed and protected. It complies with articles 13 and 14 of the General Data Protection Regulation (GDPR), ensuring transparency and respect for the rights of data subjects. Please read this document carefully.</p>

      <h2>What data do we collect from you?</h2>
      <p>The data collected about you falls within the following categories:</p>
      <ul>
        <li>Contact data and identification: Name, email address, phone number, residence and emergency contact;</li>
        <li>Statistical data: Gender and birth date;</li>
        <li>Health-related data: Medical history and medical conditions.</li>
      </ul>
      <p>All the information above is required, meaning that if you refuse to provide us this information, we may not be able to provide you with certain services under the terms of this policy.</p>

      <h2>How is your data processed?</h2>
      <p>We process your personal data based on our legitimate interests, whenever there is a business reason that justifies it. Once shared with the system, your data is subjected to:</p>
      <ul>
        <li>Collection, utilization, storage, alteration, deletion, and anonymization;</li>
        <li>Communication with you;</li>
        <li>Personalized treatments;</li>
        <li>Surgery scheduling and medical appointments;</li>
        <li>Statistical analysis;</li>
        <li>Sending medical exams.</li>
      </ul>

      <h2>Who do we share your data with?</h2>
      <p>Your personal data will be shared with:</p>
      <ul>
        <li>Your doctor and the system administrator;</li>
        <li>Public bodies and services, when required by law.</li>
      </ul>

      <h2>For how long do we conserve your data?</h2>
      <p>Your personal data and medical records are conserved in our systems for a period of 5 years. However, you can request their deletion at any time.</p>

      <h2>How does the deletion of your account work?</h2>
      <p>You can delete your account at any time. Once you request to delete your account, our system will send you an email to confirm your action. After confirmation, your data will be anonymized, retaining only gender and birth date for statistical or legal purposes. The process is completed within 30 days.</p>

      <h2>Data security</h2>
      <p>Appropriate measures are adopted to protect your personal data against unauthorized access, editing, deletion, and sharing, in compliance with applicable security and privacy legislation.</p>

      <h2>How and why we’ll contact you?</h2>
      <p>We may contact you by email, phone, SMS, or post mail to provide services and inform you of important changes, especially regarding your medical exams.</p>

      <h2>Your rights</h2>
      <p>Under the GDPR, you have the right to be informed, access, edit, share, and erase your data, as well as the right to object.</p>

      <h2>Policy Alterations</h2>
      <p>This policy may be updated periodically. We recommend reviewing it regularly. Significant changes will be communicated directly to data subjects.</p>

      <h2>Contact</h2>
      <p>For questions or requests related to privacy, please contact our Data Protection Officer. </p>
      <form>
        <label>
          <input type="checkbox" name="accept" value="I've read and accept the terms of the privacy policy"> I've read and accept terms of the privacy policy
        </label>
      </form>
    </div>

    <p>    </p>
    <div>
      <label>Phone Number:</label>
      <input type="tel" formControlName="phoneNumber" required>
      <div *ngIf="registrationForm.get('phoneNumber')?.invalid && (registrationForm.get('phoneNumber')?.touched || registrationForm.get('phoneNumber')?.dirty)">
        You have to enter a valid phone number
      </div>
    </div>


    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
  </form>
</div>
