<div class="home-button-container">
  <app-home-button class="home-button"></app-home-button>
</div>

<div class="profile-container">
  <app-profile-menu class="profile-menu"></app-profile-menu>
</div>

<div class="container">

  <div class="header">
    <h1>Allergies</h1>
  </div>

<div class="content">

  <app-filter-button
    *ngIf="allergies.length > 0 && showFilterButton"
    [filters]="['Allergy']"
    (filterSelected)="handleSelectedFilter($event)"
  ></app-filter-button>

  <div *ngFor="let allergy of allergies" class="allergy-item">
    <div class="allergy-details">
      <p><strong>Code:</strong> {{ allergy.code }}</p>
      <p><strong>Designation:</strong> {{ allergy.designation }}</p>
      <p><strong>Description:</strong> {{ allergy.description }}</p>
      <p><strong>Effects:</strong></p>
      <ul>
        <li *ngFor="let effect of allergy.effects">{{ effect }}</li>
      </ul>
    </div>
  </div>

  <button
    class="reset-filter-button"
    (click)="resetFilter()"
    *ngIf="showResetFilterButton"
  >
    Reset Filter
  </button>
</div>

<div class="error-message" *ngIf="showNoAllergiesFound; else invalidFields">
  <p>No allergy found.</p>
</div>

<ng-template #invalidFields>
  <div class="error-message" *ngIf="showEmptyFilterError">
    <p>Invalid Input.</p>
  </div>
</ng-template>

<app-enter-filter-name
  (filterTypeToEmit)="currentFilter = $event"
  (nameToFilter)="handleFilterSelection($event)"
></app-enter-filter-name>
</div>
